use std::env;

pub fn setup() {
    // Requires "repo" scope
    env::set_var("MAESTRO_HTTPS_USERNAME", "bar");
    env::set_var("MAESTRO_HTTPS_TOKEN", "bar");

    env::set_var("MAESTRO_GITHUB_LIST_REPO_NAME", "bar");
    env::set_var("MAESTRO_GITEA_LIST_REPO_NAME", "bar");

    env::set_var("MAESTRO_GITHUB_CLONE_URL", "bar");
    env::set_var("MAESTRO_GITEA_CLONE_URL", "bar");
    env::set_var("MAESTRO_HTTPS_CLONE_URL", "bar");
    env::set_var("MAESTRO_SSH_CLONE_URL", "bar");
}
