package com.viscouspot.gitsync

object Secrets {
    const val GITHUB_CLIENT_ID = ""
    const val GITHUB_CLIENT_SECRET = ""

    const val GITEA_CLIENT_ID = ""
    const val GITEA_CLIENT_SECRET = ""
}